.dashboard-container {
  background: linear-gradient(135deg, #667eea, #764ba2);
  min-height: 100vh;
  padding: 40px;
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.dashboard-container h1 {
  color: #ffe600;
  font-size: 2rem;
  margin-bottom: 10px;
}

.dashboard-container h2 {
  margin-bottom: 20px;
}

.crud-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.crud-form input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 200px;
  outline: none;
}

.crud-form button {
  background-color: #ffb700;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  transition: 0.3s;
}

.crud-form button:hover {
  background-color: #fff;
  color: #000;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.item-card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 15px;
  width: 250px;
  text-align: left;
  color: #fff;
}
.logout-btn {
  background: #e74c3c;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #c0392b;
}
.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  background-color: #ffb700;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
}

.buttons button:hover {
  background-color: #fff;
  color: #000;
}
